// Código de Nav acá
nav{
    //display: flex;  //para poder mover el contenido
    //flex-direction: column; //para cambiar el eje y no quede uno al lado del otro
    //align-items: center; //para centrar las columnas en la pantalla devido a que cambie los ejes con el flex-direction

    .flex(column, center, center); //para usar el mixins
    background-color: @nav-bg;

    ul{
        //display: flex; //para poder mover la columnas y dejarlos uno al lado del otro
        //justify-content: space-around; //para poder darle espacios entre las palabras del nav bar.

        .flex(row, space-around, center);

        width: 30%; //para determinar un porcentaje del total del ancho del padre (nav bar)
        margin: 10px;

        @media (max-width: @phone){
            width: 80%;
        }
    }



    a{
    text-decoration: none;
    color: @nav-font;
    font-weight: bold;
    }
}